<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sly.seata.storage.mapper.StorageMapper">
	<!-- 新增 -->
	<insert id="insert" parameterType="Storage">
		INSERT INTO `BUSINESS_STORAGE`(storageId,storageName,storageCount,logicDel,remark)
		VALUES(#{storageId},#{storageName},#{storageCount},#{logicDel},#{remark})
	</insert>

	<update id="update">
		update `BUSINESS_STORAGE` set remark = '更新备注' where storageId='1'
	</update>

	<delete id="delete">
		delete from `BUSINESS_STORAGE` where storageId='1'
	</delete>
</mapper>